<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <main>
        <div class="circle"></div>
        <div class="form-menu">
            <h1 class="form-title">Главная</h1>
            <form th:method="get" th:action="@{/auth/search}">
                <div class="form-field">
                     <input class="button" type="submit" value="Search">
                 </div>
            </form>
            <br>
            <form th:action="@{/auth/showFriends}" th:method="get">
                <div class="form-field">
                    <input class="button" type="submit" value="Friends">
                </div>
            </form>
            <br>
            <form th:action="@{/auth/logout}" th:method="post">
                <div class="form-field">
                     <input class="button" type="submit" value="LogOut">
                </div>
            </form>
        </div>
    </main>
</body>
</html>