<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>
<main>
    <div class="circle"></div>
<div class="form-search">
    <h1 class="form-title">Поиск</h1>
    <form th:action="@{/auth/search/users}" th:method="get" th:object="${person}">
        <div class="form-field">
      <input type="text" id="username" th:field="*{name}" placeholder="UserName">
        </div>
      <br>
      <input class="button" type="submit" value="Search">
    </form>
</div>
</main>
</body>
</html>